@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap"); /*подключила стили с гуголфонтс*/

/*переменные могу переиспользовать*/
:root {
    --container-width: 1270px; /*ширина контейнера было 1240 взяла с запасом бо бокам*/
    --container-padding: 15px;
    --secondary: rgba(15, 31, 28, 0.5);
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f6f6f6;
    color: #0f1f1c;
}

.none {
    display: none !important; /*скрывать какие то секции*/
}

/*контейнер по стнадартной ширине проекта*/
.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding); /*сверху снизу 0, слева справа беру в переменной 15px*/
    margin: 0 auto; /*по центру*/
}

/*контейнер который уходит в право*/
.container-right {
    padding-left: calc(
        (100% - var(--container-width)) / 2 + var(--container-padding)
    ); /*calc((100% - 1270px)/2 + 15px) получу отступы которые должны быть по краям*/
}

.container-left {
    padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.block {
    height: 200px;
    background-color: rgb(166, 166, 230);
}

/*Header*/

.header {
    overflow: hidden; /*поведение для переполнения элемента */
    position: relative; /*шапка родитель*/
    min-height: 940px;
    padding-top: 44px; /*от логина до вверха*/
    background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%), #204434; /*фон заливки*/
    color: #fff;
}

.header a {
    color: #fff;
}

/*пвседоэлементы*/
.header::after {
    content: "";
    position: absolute;
    left: 0; /*нижний левый угол*/
    bottom: 0;
    width: 100%;
    height: 96px;

    background-image: url("./../img/header/header-bottom.svg");
    background-size: 100%; /*не дублировался и на всю ширину растянулся*/
}

.header__top {
    margin-bottom: 86px;
}

.header__row {
    display: flex;
}

.header__content {
    max-width: 592px;
    position: relative;
    z-index: 1; /*определяет положение позиционированного элемента*/
}

.header__img {
    position: relative;
    flex-grow: 1; /*возьмет оставшееся пространство и разделит его на общее количество значений*/
}

.header__img img {
    position: absolute; /*чтобы не сжимала остальные блоки*/

    top: -181px;
    right: -87px; /*загнала в верхний правый угол*/

    max-width: unset; /*не задано*/
    width: 894px;
    height: 940px;
    pointer-events: none; /*none запрещает все параметры щелчка,*/
}

/*nav */

.nav {
    display: flex;
    justify-content: space-between; /*равномерно распределяются по всей строке. Первый и последний элемент прижимаются к соответствующим краям контейнера*/
    align-items: center; /*выровняла*/
    column-gap: 80px; /*отступ.вплотную чтобы не подходили*/
}

.nav__list {
    display: flex;
    column-gap: 80px; /*между ними отступы*/
    font-size: 15px;
    font-weight: 500;
}

.nav__list a {
    position: relative; /*родитель ссылка находится относительно своего исходного положения в родительском элементе*/
}

.nav__list a.active::after, /*псевдоэлементы активная*/
.nav__list a:hover::after {
    /*при наведении после*/
    content: ""; /*чтобы отображался*/

    position: absolute; /*относительно этой ссылки будет*/
    left: 0;
    right: 10px;
    bottom: -6px;

    display: block;
    width: 35px;
    height: 4px;
    background-color: #c4c4c4; /*полоска под Home*/
    border-radius: 50px;
}

.nav__login {
    display: flex;
    align-items: center;
    column-gap: 25px;

    font-size: 15px;
    font-weight: 500;
}

/*Logo*/

.logo {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
}

.logo a {
    color: inherit; /*ссылки внутри лого такие же как у лого*/
}

/*button кнопка логин*/
.btn {
    display: inline-block; /*по умолчанию ссылка инлайн элемент*/
    padding: 13px 44px; /*низ вверх 13 права лево 44*/

    font-size: 15px;
    font-weight: 500;
    color: #ffffff;

    background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
    border-radius: 100px;
}

.btn:hover {
    color: rgb(221, 239, 66);
    transition: color 0.2s ease-in; /*будет меняться плавно*/
}

.btn:active {
    /*при нажатии утапливалась вниз эффект прожатия*/
    position: relative;
    top: 1px;
}

/*Header content*/
.header__badge {
    margin-bottom: 7px;
    display: inline-block; /*занимал место столько сколько в контенте*/
    padding: 11px 30px; /*низ вверх,лево право*/
    font-size: 18px; /*текст внутри подложки*/
    font-weight: 500;

    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
}
.header__title {
    margin-bottom: 30px;
    font-size: 55px;
}
.header__text {
    margin-bottom: 68px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
}

.header__btn {
    display: inline-block;
    padding: 27px 48px;
    color: #fefefe;

    background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
    border-radius: 27px;

    font-size: 25px;
    font-weight: 600;
}

.header__btn:hover {
    color: rgb(221, 239, 66);
    transition: color 0.2s ease-in; /*будет меняться плавно*/
}

.header__btn:active {
    /*при нажатии утапливалась вниз эффект прожатия*/
    position: relative;
    top: 1px;
}

/*Destinations делаю c Choice Of*/
.destinations {
    overflow-x: hidden; /*указывает, следует ли обрезать содержимое, добавить полосу прокрутки или отобразить переполнение содержимого блочного элемента, когда оно переполняется по левому и правому краям.*/
    padding: 96px 0 100px;
}

.destinations__row {
    display: flex;
    column-gap: 50px; /*от текста до картинки(слайдера) по горизонтали*/
}
.destinations__content {
    max-width: 456px; /*ограничен по ширине*/
}

.destinations__slider {
    width: 1110px; /*всех 3 картинок слайдеров*/
    flex-shrink: 0; /*чтобы не уменьшался*/
}

.destinations__title {
    /*Destinations*/
    margin-bottom: 15px; /*от заголовка вниз*/
    font-size: 55px;
    font-weight: 600;
}

.destinations__title span {
    /*Choice Of */
    font-size: 30px;
    left: 100px;
}

.destinations__text {
    margin-bottom: 60px; /*от текста до кнопки*/
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary); /*полупозраченый до этого есть в переменной*/
}

.destinations__btn {
    display: inline-block;
    padding: 25px 45px;
    color: #fefefe;

    background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
    border-radius: 27px;
   

    font-size: 20px;
    font-weight: 600;
}

.destinations__btn:hover {
    color: rgb(164, 180, 28);
    transition: color 0.2s ease-in; /*будет меняться плавно*/
}

.destinations__btn:active {
    /*при нажатии утапливалась вниз эффект прожатия*/
    position: relative;
    top: 1px;
}


/*Slider*/
.slider {
}
.slider__item {
    margin-top: 27px; /*разница картинки в высоте*/
    width: 335px;
    height: 402px;
    object-fit: cover; /*корректное масштабирование картинки внутри тэга img*/
    border-radius: 35px;
    transition: 0.2s ease-in; /*плавно менялись*/
}

.slider .center .slider__item {
    /*внутри слайдера есть блок центр и там есть клас слайдер айтем */
    margin-top: 0;
    width: 380px;
    height: 456px;
    border-radius: 35px;
}

/*для кнопок вперёд назад*/
.slider__btn{
display: block;
width:68px;
height:68px;
border-radius: 50%;


display: flex;
align-items: center;

background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
}

/*кнопка назад*/
.slider__btn--prev{
    padding-left: 26px;
}