@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap"); /*подключила стили с гуголфонтс*/

/*переменные могу переиспользовать*/
:root {
    --container-width: 1270px; /*ширина контейнера было 1240 взяла с запасом бо бокам*/
    --container-padding: 15px;
    --secondary: rgba(15, 31, 28, 0.5);
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f6f6f6;
    color: #0f1f1c;
}

.none {
    display: none !important; /*скрывать какие то секции*/
}

/*контейнер по стнадартной ширине проекта*/
.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding); /*сверху снизу 0, слева справа беру в переменной 15px*/
    margin: 0 auto; /*по центру*/
}

/*контейнер который уходит в право*/
.container-right {
    padding-left: calc(
        (100% - var(--container-width)) / 2 + var(--container-padding)
    ); /*calc((100% - 1270px)/2 + 15px) получу отступы которые должны быть по краям*/
}

.container-left {
    padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.block {
    height: 200px;
    background-color: rgb(166, 166, 230);
}

/*Header*/

.header {
    position: relative; /*шапка родитель*/
    min-height: 940px;
    padding-top: 62px; /*от логина до вверха*/
    background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%), #204434; /*фон заливки*/
    color: #fff;
}

.header a{
  color: #fff;  
}


/*пвседоэлементы*/
.header::after {
    content: "";
    position: absolute;
    left: 0; /*нижний левый угол*/
    bottom: 0;
    width: 100%;
    height: 96px;

    background-image: url("./../img/header/header-bottom.svg");
    background-size: 100%; /*не дублировался и на всю ширину растянулся*/
}

.header__top {
    margin-bottom: 93px;
}

.header__content {
    max-width: 592px;
}

/*nav */

.nav {
    display: flex;
    justify-content: space-between; /*равномерно распределяются по всей строке. Первый и последний элемент прижимаются к соответствующим краям контейнера*/
    column-gap: 80px; /*отступ.вплотную чтобы не подходили*/
}

.nav__logo {
}

.block {
}

.nav__list {
display: flex;
column-gap: 80px;/*между ними отступы*/
}

.nav__login {
}

/*Logo*/

.logo {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
}

.logo a{
    color:inherit; /*ссылки внутри лого такие же как у лого*/
}